@import "lib-common";
@import "lib-list";

.content{
    .nav{
        margin-top: 3px;
        height: 35px;
        a{
            color: #666;
            float: left;
            font-size: 16px;
            margin-right: 30px;
        }
    }
}