<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta property="og:url" content="http://game.mytest.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Quick Game-No install，Enjoy the best casual game center!" />
<meta property="og:description" content="No install，Enjoy the best casual game center!" />
<title>Gamebox-The best casual game center which you don't need to download any app!</title>
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- adx -->
<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('<%= channel.adx_detail.slot %>', <%= channel.adx_detail.size %>, '<%= channel.adx_detail.id %>').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
<!-- adx -->


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7"></script>
<script>
    // window.adsbygoogle = [];
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-109832714-7');
</script>
<link rel="stylesheet" href="/static/detail.css">
</head>

<body>
    <div id="app" style="display: none;">
        <div class="header">
            <a class="back" href="javascript:window.history.go(-1);"></a>
            {{getShortName(game.name)}}
            <a class="home" v-bind:href="getHomeUrl()"></a>
        </div>
        <div class="content">
            <div class="detail">
                <div class="icon" v-bind:style="{ backgroundImage: imgIcon}"></div>
                <div class="info">
                    <p class="name">{{getShortName(game.name)}}</p>
                    <p class="type">{{game.type}}</p>
                    <p class="stars">
                        <span class="starbox">☆☆☆☆☆</span>
                        <span class="starprogress">★★★★★</span>
                        <span class="label">{{starsStr}}</span>
                    </p>
                    <p class="other">
                        <span class="icon1"></span>
                        <span class="plays">{{game.plays}}K+ plays</span>
                        <span class="icon2"></span>
                        <span class="size">{{game.size}}</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- adx -->
        <div id='<%= channel.adx_detail.id %>' style='height:250px; width:300px; margin: 0 auto;'>
            <script>
            googletag.cmd.push(function() { googletag.display('<%= channel.adx_detail.id %>'); });
            </script>
        </div>
        <!-- <ins class="adsbygoogle"
            style="display:inline-block;width:100%;height:250px" 
            data-full-width-responsive="true" 
            data-ad-client="<%= channel.ca_pub %>"
            data-ad-slot="<%= channel.ad_detail %>"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script> -->
        <div class="content">
            <div class="title">You May Like</div>
            <div class="wrap">
                <div v-for="item in game.like" class="likebox">
                    <a v-bind:href="getDetailUrl(item.id)">
                        <span class="icon" v-bind:style="{ backgroundImage: getImgIcon(item.id)}"></span>
                        <span class="name">{{getShortName(item.name)}}</span>
                        <span class="play">PLAY</span>
                    </a>    
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="content">
            <div class="title">Description</div>
            <div class="wrap">
                <span class="desc">{{game.desc}}</span>
            </div>
            <div class="title">Detail</div>
            <div class="wrap">
                <span class="info">Size: {{game.size}}</span>
                <span class="info">Version: {{game.version}}</span>
                <span class="info">UpdateTime: {{game.updatetime}}</span>
            </div>
        </div>
        <div class="bottom"></div>
        <div class="startplay">
            <a v-bind:href="getPlayUrl()">PLAY</a>
        </div>
    </div>
</body>

</html>
<script src="/static/vue.js"></script>
<script src="/static/detail.js"></script>