<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>gamebox</title>
    <meta name="keywords" content="gamebox game games html5 h5 noinstall">
    <meta name="description" content="gamebox - No install，Enjoy the best casual game center!">
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="gamebox" />
    <meta property="og:description" content="gamebox - No install，Enjoy the best casual game center" />
    <link rel="stylesheet" href="/static/index.css"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>window.adsbygoogle = []</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109832714-7');
    </script>
</head>

<body>
    <div class="header">GameBox</div>
    <div class="content">
        <div class="title">
            <span>Recommend</span>
            <a href="/now.html">All</a>
        </div>
        <div class='slider'>
            <% for(var i=0; i<10; i++){ %>
                <a style="background:<%= nowColor(i) %>;">
                    <img src="/static/res/<%= nowList[i].id %>/icon.png">
                    <p class="name"><%= nowList[i].name %></p>
                    <p class="plays">
                        <span class="count"><%= nowList[i].plays %>K+</span>
                        <span class="label">plays</span>
                    </p>
                </a>
            <% } %>
        </div>
        <% for(var i=0; i<bigList.length; i++){ %>
            <div class="title">
                <span><%= bigList[i].title %></span>
                <a href="<%= bigList[i].href %>">All</a>
            </div>
            <div>
                <% for(var m=0; m<8; m++){ %>
                    <div class="box">
                        <div class="icon" style="background-image: url('/static/res/<%= bigList[i].list[m].id %>/icon.png')"></div>
                        <p class="name"><%= bigList[i].list[m].name %></p>
                        <p class="plays">
                            <span class="count"><%= bigList[i].list[m].plays %>K+</span>
                            <span class="label">plays</span>
                        </p>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</body>

</html>
<!-- <script src="/static/swipe.js"></script>
<script>
Swipe(document.getElementById('slider'));
</script> -->