<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>gamebox</title>
    <meta name="keywords" content="gamebox game games html5 h5 noinstall">
    <meta name="description" content="gamebox - No install，Enjoy the best casual game center!">
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="gamebox" />
    <meta property="og:description" content="gamebox - No install，Enjoy the best casual game center" />
    <link rel="stylesheet" href="/static/index.css"/>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>window.adsbygoogle = []</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109832714-7');
    </script>
</head>

<body>
    <div class="header">GameBox</div>
    <div class="content">
        <div class="title">
            <span>Live Now</span>
            <a href="now.html">See All</a>
        </div>
        <div class='slider'>
            <% for(var i=0; i<10; i++){ %>
                <a href="./detail.html?id=<%= nowList[i].id %>" style="background:<%= nowColor(i) %>;">
                    <img src="/static/res/<%= nowList[i].id %>/icon.png">
                    <p class="name"><%= nowList[i].name %></p>
                    <p class="plays">
                        <span class="count"><%= nowList[i].plays %>K+</span>
                        <span class="label">plays</span>
                    </p>
                </a>
            <% } %>
        </div>
    </div>
    <ins class="adsbygoogle"
        style="display:inline-block;width:100%;height:250px"
        data-ad-client="<%= channel.ca_pub %>"
        data-ad-slot="<%= channel.ad_index %>"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div class="content">
        <% for(var i=0; i<bigList.length; i++){ %>
            <div class="title">
                <% if( bigList[i].icon ){ %>
                <div class="icon lazyload" data-src="/static/icon/<%= encodeURIComponent(bigList[i].title) %>.png"></div>
                <% } %>
                <span><%= bigList[i].title %></span>
                <a href="<%= bigList[i].href %>" <% if( bigList[i].icon ){ %>style="margin-top: 13px;"<% } %> >See All</a>
            </div>
            <% for(var m=0; m<8; m++){ %>
                <% if( m%4==0 ){ %><div><% } %>
                <a class="box" href="/<%= channel.code %>/detail.html?id=<%= bigList[i].list[m].id %>">
                    <div class="icon lazyload" data-src="/static/res/<%= bigList[i].list[m].id %>/icon.png"></div>
                    <p class="name"><%= bigList[i].list[m].name %></p>
                    <p class="plays">
                        <span class="count"><%= bigList[i].list[m].plays %>K+</span>
                        <span class="label">plays</span>
                    </p>
                </a>
                <% if( m%4==3 ){ %><div class="clear"></div></div><% } %>
            <% } %>
        <% } %>
        <div class="verifi">Notice:the content is provided by the content developer . If there are any objections, please give us the original proof and we will remove it after verification.</div>
    </div>
</body>

</html>
<script src="/static/lazyload.js"></script>