<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta property="og:url" content="http://gamebox.zbkon.com/<%= channel.code %>/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Quick Game-No install，Enjoy the best casual game center!" />
<meta property="og:description" content="No install，Enjoy the best casual game center!" />
<title>Gamebox-The best casual game center which you don't need to download any app!</title>
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- adx -->
<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
</script>

<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('<%= channel.adx_index.slot %>', <%= channel.adx_index.size %>, '<%= channel.adx_index.id %>').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>
<!-- adx -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7"></script>
<script>
    // window.adsbygoogle = [];
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-109832714-7');
</script>

<link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <div class="header">GameBox</div>
    <div class="content">
        <div class="title">
            <span>Live Now</span>
            <a href="now.html">See All</a>
        </div>
        <div class='slider'>
            <% for(var i=0; i<10; i++){ %>
                <a href="./detail.html?id=<%= nowList[i].id %>" style="background:<%= nowColor(i) %>;">
                    <img src="/static/res/<%= nowList[i].id %>/icon.png">
                    <p class="name"><%= nowList[i].name %></p>
                    <p class="plays">
                        <span class="count"><%= nowList[i].plays %>K+</span>
                        <span class="label">plays</span>
                    </p>
                </a>
            <% } %>
        </div>
    </div>
    <!-- adx -->
    <div id='<%= channel.adx_index.id %>' style='height:250px; width:300px; margin: 0 auto;'>
        <script>
        googletag.cmd.push(function() { googletag.display('<%= channel.adx_index.id %>'); });
        </script>
    </div>
    <div class="content">
        <% for(var i=0; i<bigList.length; i++){ %>
            <div class="title">
                <% if( bigList[i].icon ){ %>
                <div class="icon lazyload" data-src="/static/icon/<%= encodeURIComponent(bigList[i].title) %>.png"></div>
                <% } %>
                <span><%= bigList[i].title %></span>
                <a href="<%= bigList[i].href %>" <% if( bigList[i].icon ){ %>style="margin-top: 13px;"<% } %> >See All</a>
            </div>
            <% for(var m=0; m<8; m++){ %>
                <% if( m%4==0 ){ %><div><% } %>
                <a class="box" href="/<%= channel.code %>/detail.html?id=<%= bigList[i].list[m].id %>">
                    <div class="icon lazyload" data-src="/static/res/<%= bigList[i].list[m].id %>/icon.png"></div>
                    <p class="name"><%= bigList[i].list[m].name %></p>
                    <p class="plays">
                        <span class="count"><%= bigList[i].list[m].plays %>K+</span>
                        <span class="label">plays</span>
                    </p>
                </a>
                <% if( m%4==3 ){ %><div class="clear"></div></div><% } %>
            <% } %>
        <% } %>
        <div class="verifi">Notice:the content is provided by the content developer . If there are any objections, please give us the original proof and we will remove it after verification.</div>
    </div>
</body>

</html>
<script src="/static/lazyload.js"></script>