<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>gamebox</title>
    <meta name="keywords" content="gamebox game games html5 h5 noinstall">
    <meta name="description" content="gamebox - No install，Enjoy the best casual game center!">
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="gamebox" />
    <meta property="og:description" content="gamebox - No install，Enjoy the best casual game center" />
    <link rel="stylesheet" href="/static/now.css"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>window.adsbygoogle = []</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109832714-7');
    </script>
</head>

<body>
    <div class="header">
        <a class="back" href="javascript:window.history.go(-1);"></a>
        <%= title %>
        <a class="home" href="/<%= channel.code %>/index.html"></a>
    </div>
    <div class="content">
        <div class="nav">
            <a href="/<%= channel.code %>/now.html" <% if(navName=='New'){ %>style="color:#f99d00;"<% } %>>New</a>
            <a href="/<%= channel.code %>/hot.html" <% if(navName=='Hot'){ %>style="color:#f99d00;"<% } %>>Hot</a>
            <a href="/<%= channel.code %>/category_Arcade.html" <% if(navName=='Category'){ %>style="color:#f99d00;"<% } %>>Category</a>
            <a class="clear"></a>
        </div>
        <% if(navName=='Category'){ %>
        <div class="category">
            <% for(var i=0; i<typeList.length; i++){ %>
                <a href="/<%= channel.code %>/category_<%= typeList[i] %>.html" <% if(typeName==typeList[i]){ %>style="color:#f99d00;"<% } %>><%= typeList[i] %></a>
            <% } %>
            <a class="clear"></a>
        </div>
        <% } %>
        <div class="listwrap">
            <% for(var i=0; i<list.length; i++){ %>
            <div class="item">
                <a href="/<%= channel.code %>/detail.html?id=<%= list[i].id %>">
                    <div class="icon lazyload" data-src="/static/res/<%= list[i].id %>/icon.png"></div>
                    <div class="detail">
                        <p class="name"><%= list[i].name %></p>
                        <p class="plays">
                            <span class="number"><%= list[i].plays %>K+</span>
                            <span class="label">Plays</span>
                        </p>
                    </div>
                    <a href="/<%= channel.code %>/play.html?id=<%= list[i].id %>" class="play">PLAY</a>
                </a>    
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>
<script src="/static/lazyload.js"></script>