<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>gamebox</title>
    <meta name="keywords" content="gamebox game games html5 h5 noinstall">
    <meta name="description" content="gamebox - No install，Enjoy the best casual game center!">
    <meta name="format-detection" content="telephone=no">
    <meta id="viewport" name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:url" content="http://gamebox.zbkon.com/<%= channel.code %>/index.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="gamebox" />
    <meta property="og:description" content="gamebox - No install，Enjoy the best casual game center" />
    <link rel="stylesheet" href="/static/play.css" />
    <!-- <script src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script> -->
    <!-- <script>window.adsbygoogle = []</script> -->

    <!-- adx -->
    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    </script>

    <script>
    googletag.cmd.push(function() {
        googletag.defineSlot('<%= channel.adx_play.slot %>', <%= channel.adx_play.size %>, '<%= channel.adx_play.id %>').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
    </script>
    <!-- adx -->

    <script src="https://www.googletagmanager.com/gtag/js?id=UA-109832714-7" async></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109832714-7');
    </script>
</head>

<body>
    <object data="" id="game" class="game" type="text/html"></object>
    <!-- adx -->
    <div id='<%= channel.adx_play.id %>' style='height:100px; width:320px; position:absolute;bottom:0;left:0;'>
            <script>
            googletag.cmd.push(function() { googletag.display('<%= channel.adx_play.id %>'); });
            </script>
        </div>
    <!-- <ins class="adsbygoogle"
        style="display:inline-block;width:100%;height:11%;position:absolute;bottom:0;left:0;" 
        data-full-width-responsive="true" 
        data-ad-client="<%= channel.ca_pub %>"
        data-ad-slot="<%= channel.ad_play %>"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script> -->
    <div class="menu" id="menu"></div>
    <div class="setting" id="setting" style="display: none;">
        <a href="javascript:window.history.go(-1)" class="item">
            <div class="icon iconback"></div>
            <p>Back</p>
        </a>
        <a href="/<%= channel.code %>/index.html" class="item">
            <div class="icon iconhome"></div>
            <p>Home</p>
        </a>
    </div>
    <div id="mainContainer">
        <div id="content">
            <video id="contentElement" playsinline muted style="display:none;"></video>
        </div>
        <div id="adContainer"></div>
    </div>
</body>

</html>
<script>
(function(){
    var ad = document.getElementById('<%= channel.adx_play.id %>');
    ad.style.left = ((window.innerWidth-320)/2) + 'px';
    var game = document.getElementById('game');
    game.style.height = (window.innerHeight-100) + 'px';
})();
</script>
<script src="/static/play.js"></script>
<script src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
<script src="/static/gamead.js"></script>
<!-- <script>init('<%= channel.ca_games_pub %>')</script> -->